.blue {
    color: blue;
}
.hulked {
    font-size: 2rem;
}
.captured {
    border: 1px solid black;
}
.rounded {
    border-radius: 5px;
}

article section:nth-child(3) {
    font-weight: bold;
}
article section:nth-child(5) {
    font-weight: bold;
    font-style: italic;
}

button {
    display: block;
}